<a href="https://colab.research.google.com/github/vipingupta1907/2011MT22_CS575/blob/main/CS575_Assignment1_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basic Descriptive Stats

##Load Numpy, Pandas and other Libraries

In [681]:
import numpy as np
import pandas as pd
import math
from scipy import stats

### Load Dataset "Inc_Exp_Data.csv" using Pandas

In [682]:
url='https://raw.githubusercontent.com/cs575ts/Assignments/main/Assignment_1/Inc_Exp_Data.csv'
df=pd.read_csv(url)
print("________________________________________________________________Given data set_____________________________________________________\n\n")
df.head(10)

________________________________________________________________Given data set_____________________________________________________

   Mthly_HH_Income  ...  No_of_Earning_Members
0             5000  ...                      1
1             6000  ...                      1
2            10000  ...                      1
3            10000  ...                      1
4            12500  ...                      1
5            14000  ...                      1
6            15000  ...                      1
7            18000  ...                      1
8            19000  ...                      1
9            20000  ...                      2

[10 rows x 7 columns]

Analyze the data using pandas info() *function*

In [683]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Mthly_HH_Income           50 non-null     int64
 1   Mthly_HH_Expense          50 non-null     int64
 2   No_of_Fly_Members         50 non-null     int64
 3   Emi_or_Rent_Amt           50 non-null     int64
 4   Annual_HH_Income          50 non-null     int64
 5   Highest_Qualified_Member  50 non-null     object
 6   No_of_Earning_Members     50 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.9+ KB

Analyze the data using pandas describe() *function*

In [684]:
df.describe()

       Mthly_HH_Income  ...  No_of_Earning_Members
count        50.000000  ...              50.000000
mean      41558.000000  ...               1.460000
std       26097.908979  ...               0.734291
min        5000.000000  ...               1.000000
25%       23550.000000  ...               1.000000
50%       35000.000000  ...               1.000000
75%       50375.000000  ...               2.000000
max      100000.000000  ...               4.000000

[8 rows x 6 columns]

Analyze the data using pandas shape object

In [685]:
print("Shape of the dataset is\n\n")
df.shape

Shape of the dataset is

(50, 7)

Check for missing values

In [686]:
print("Missing value in each colomn is\n\n")
df.isnull().sum()

Missing value in each colomn is

Mthly_HH_Income             0
Mthly_HH_Expense            0
No_of_Fly_Members           0
Emi_or_Rent_Amt             0
Annual_HH_Income            0
Highest_Qualified_Member    0
No_of_Earning_Members       0
dtype: int64

What is the Mean Expense of a Household? Compute mean using Inbuilt pandas function and write your own function for the same.

In [687]:
print("Mean expense of a Household by my own function\n\n")

def my_mean(sample):
  sum=0
  for i in range(0, len(sample)):
    sum = sum + sample[i]
  return sum / len(sample)

my_mean(df["Mthly_HH_Expense"])

Mean expense of a Household by my own function

18818.0

In [688]:
print("Mean expense of a Household by inbuild function\n\n")
df["Mthly_HH_Expense"].mean()

Mean expense of a Household by inbuild function

18818.0

What is the Median Household Expense? Compute Median using Inbuilt pandas function and write your own function for the same.

In [689]:
print("Median Household Expense by my own function\n\n")

def my_median(nums):
  numss = sorted(list(nums))
  if len(nums)%2==1:
    return numss[len(nums)//2]
  else:
    return (numss[len(nums)//2-1]+numss[len(nums)//2])/2
my_median(df["Mthly_HH_Expense"])

Median Household Expense by my own function

15500.0

In [690]:
print("Median Household Expense by inbuild function\n\n")

df.loc[:,"Mthly_HH_Expense"].median()

Median Household Expense by inbuild function

15500.0

What is the Monthly Expense for most of the Households?

In [691]:
print("Monthly Expense for most of the Households is \n\n")

df[['Mthly_HH_Expense']].mode()

Monthly Expense for most of the Households is

   Mthly_HH_Expense
0             25000

Calculate IQR(difference between 75% and 25% quartile)

In [692]:
print("IQR for respective colomn is\n\n")

def IQR(x):
  Q75, Q25 = np.percentile(x, [75, 25])
  IQR= Q75- Q25
  return IQR

df[['Mthly_HH_Income','Mthly_HH_Expense','No_of_Fly_Members','Emi_or_Rent_Amt','Annual_HH_Income','No_of_Earning_Members']].apply(IQR)

IQR for respective colomn is

Mthly_HH_Income           26825.0
Mthly_HH_Expense          15000.0
No_of_Fly_Members             2.0
Emi_or_Rent_Amt            3500.0
Annual_HH_Income         335970.0
No_of_Earning_Members         1.0
dtype: float64

Calculate Standard Deviation for first 4 columns. Compute Standard Deviation using Inbuilt pandas function and write your own function for the same.

In [693]:
print(" Standard Deviation of first 4 coloumn using my own function\n\n")

def my_mean(data):
  sum=0
  for i in range(0, len(data)):
    sum = sum + data[i]
  return sum / len(data)
def std(data):
  n = len(data)
  mean = my_mean(data)
  deviations = [(x - mean) ** 2 for x in data]
  var = sum(deviations) / n
  std_dev = math.sqrt(var)
  return std_dev

df[['Mthly_HH_Income','Mthly_HH_Expense','No_of_Fly_Members','Emi_or_Rent_Amt']].apply(std)

 Standard Deviation of first 4 coloumn using my own function

Mthly_HH_Income      25835.611779
Mthly_HH_Expense     11968.704023
No_of_Fly_Members        1.502132
Emi_or_Rent_Amt       6178.705366
dtype: float64

In [694]:
print(" Standard Deviation of first 4 coloumn using Inbuilt pandas function\n\n")

df[['Mthly_HH_Income','Mthly_HH_Expense','No_of_Fly_Members','Emi_or_Rent_Amt']].std()

 Standard Deviation of first 4 coloumn using Inbuilt pandas function

Mthly_HH_Income      26097.908979
Mthly_HH_Expense     12090.216824
No_of_Fly_Members        1.517382
Emi_or_Rent_Amt       6241.434948
dtype: float64

Calculate Variance for first 3 columns. Compute Variance using Inbuilt pandas 
function and write your own function for the same.

In [695]:
 print(" Variance of first 3 coloumn using my own function\n\n")
 
 def my_mean(data):
  sum=0
  for i in range(0, len(data)):
    sum = sum + data[i]
  return sum / len(data)

def variance(data):
   n = len(data)
   mean = my_mean(data)
   deviations = [(x - mean) ** 2 for x in data]
   variance = sum(deviations) / n
   return variance
df[['Mthly_HH_Income','Mthly_HH_Expense','No_of_Fly_Members']].apply(variance)

 Variance of first 3 coloumn using my own function

Mthly_HH_Income      6.674788e+08
Mthly_HH_Expense     1.432499e+08
No_of_Fly_Members    2.256400e+00
dtype: float64

In [696]:
print(" Variance of first 3 coloumn using Inbuilt pandas function\n\n")

df[['Mthly_HH_Income','Mthly_HH_Expense','No_of_Fly_Members']].var()

 Variance of first 3 coloumn using Inbuilt pandas function

Mthly_HH_Income      6.811009e+08
Mthly_HH_Expense     1.461733e+08
No_of_Fly_Members    2.302449e+00
dtype: float64

Calculate Skewness for first 3 columns. Compute Skewness using Inbuilt pandas function and write your own function for the same.

In [697]:
print("Skewness for first 3 coloumn using my own function\n\n")

def my_mean(data):
  sum=0
  for i in range(0, len(data)):
    sum = sum + data[i]
  return sum / len(data)
def std(data):
  n = len(data)
  mean = my_mean(data)
  deviations = [(x - mean) ** 2 for x in data]
  var = sum(deviations) / n
  std_dev = math.sqrt(var)
  return std_dev
def skewness(data):
  n = len(data)
  mean = my_mean(data)
  deviations = [(x - mean) ** 3 for x in data]
  skewness = sum(deviations) / (n * std(data) *std(data) *std(data))
  return skewness

df[['Mthly_HH_Income','Mthly_HH_Expense','No_of_Fly_Members']].apply(skewness)

Skewness for first 3 coloumn using my own function

Mthly_HH_Income      0.896642
Mthly_HH_Expense     1.163173
No_of_Fly_Members    0.110235
dtype: float64

In [698]:
print("Skewness for first 3 coloumn using inbuild function\n\n")

df[['Mthly_HH_Income','Mthly_HH_Expense','No_of_Fly_Members']].skew()

Skewness for first 3 coloumn using inbuild function

Mthly_HH_Income      0.924615
Mthly_HH_Expense     1.199461
No_of_Fly_Members    0.113674
dtype: float64

Calculate Kurtosis for first 3 columns. Compute Kurtosis using Inbuilt pandas function and write your own function for the same.

In [699]:
print("Kurtosis for first 3 coloumn using my own function\n\n")

def my_mean(data):
  sum=0
  for i in range(0, len(data)):
    sum = sum + data[i]
  return sum / len(data)
def std(data):
  n = len(data)
  mean = my_mean(data)
  deviations = [(x - mean) ** 2 for x in data]
  var = sum(deviations) / n
  std_dev = math.sqrt(var)
  return std_dev
def kurtosis(data):
  n = len(data)
  mean = my_mean(data)
  deviations = [(x - mean) ** 4 for x in data]
  skewness = sum(deviations) / (n * std(data) *std(data) *std(data) *std(data)) 
  return skewness

df[['Mthly_HH_Income','Mthly_HH_Expense','No_of_Fly_Members']].apply(kurtosis)

Kurtosis for first 3 coloumn using my own function

Mthly_HH_Income      2.986667
Mthly_HH_Expense     3.733196
No_of_Fly_Members    2.113702
dtype: float64

In [700]:
print("Kurtosis for first 3 coloumn using inbuild function\n\n")

df[['Mthly_HH_Income','Mthly_HH_Expense','No_of_Fly_Members']].kurtosis()

Kurtosis for first 3 coloumn using inbuild function

Mthly_HH_Income      0.115550
Mthly_HH_Expense     0.942490
No_of_Fly_Members   -0.851445
dtype: float64

Find the correlation coeeficient between the "Mthly_HH_Income" and	"Mthly_HH_Expense". Compute correlation coeeficient using Inbuilt pandas function and write your own function for the same.

In [701]:
print("correlation coeeficient between the Mthly_HH_Income and Mthly_HH_Expense using my own function\n\n")

import math 
def correlationCoefficient(X, Y) :
  n=len(X) 
  sum_X = 0
  sum_Y = 0
  sum_XY = 0
  squareSum_X = 0
  squareSum_Y = 0
  
  i = 0
  while i < n : 
    sum_X = sum_X + X[i]  
    sum_Y = sum_Y + Y[i] 
    sum_XY = sum_XY + X[i] * Y[i]  
    squareSum_X = squareSum_X + X[i] * X[i] 
    squareSum_Y = squareSum_Y + Y[i] * Y[i] 
		
    i = i + 1
    p = (float)(n * sum_XY - sum_X * sum_Y)
    q = (float)(math.sqrt(n * squareSum_X -sum_X * sum_X))
    w = (float)(math.sqrt(n * squareSum_Y -sum_Y * sum_Y))
    corr = p/(q*w)
  return corr 

correlationCoefficient(df.Mthly_HH_Income, df.Mthly_HH_Expense)

correlation coeeficient between the Mthly_HH_Income and Mthly_HH_Expense using my own function

0.6492152549316462

In [702]:
print("correlation coeeficient between the Mthly_HH_Income and Mthly_HH_Expense using inbuild function\n\n")

df["Mthly_HH_Income"].corr(df["Mthly_HH_Expense"])

correlation coeeficient between the Mthly_HH_Income and Mthly_HH_Expense using inbuild function

0.6492152549316462

Calculate the total counts under each qualification

In [703]:
print("Total counts under each qualification\n\n")

df["Highest_Qualified_Member"].value_counts()

Total counts under each qualification

Graduate          19
Professional      10
Under-Graduate    10
Post-Graduate      6
Illiterate         5
Name: Highest_Qualified_Member, dtype: int64

Compute logarithmic mean of the first two cols using your own function

In [704]:
print("logarithmic mean of the first two cols using your own function is\n\n")

def logarithmicmean(data):
  p = max(data)
  q = min(data)
  r = math.log(p)
  s = math.log(q)
  z_score = (p-q)/(r-s)
  return z_score

df[['Mthly_HH_Income','Mthly_HH_Expense']].apply(logarithmicmean)

logarithmic mean of the first two cols using your own function is

Mthly_HH_Income     31711.779066
Mthly_HH_Expense    14912.038429
dtype: float64

Compute geometric mean of the first two cols using your own  function and verify using inbuilt Python function

In [705]:
print("geometric mean of the first two cols using your own function \n\n")

def my_geometricmean(data):
  multiplication=1
  n=len(data)
  for i in data:
    multiplication = multiplication * i 
    geometricmean = (multiplication)**(1/n)
  return geometricmean
  
print("geometric mean of Monthly hosehold income is", my_geometricmean(df.Mthly_HH_Income) )
print("geometric mean of Monthly hosehold expense is", my_geometricmean(df.Mthly_HH_Expense) )

geometric mean of the first two cols using your own function


geometric mean of Monthly hosehold income is 33590.377540213965
geometric mean of Monthly hosehold expense is 15391.899582223135

In [706]:
print("geometric mean of the first two cols using  inbuilt Python function is\n\n")

p = stats.gmean(df.Mthly_HH_Expense)
q= stats.gmean(df.Mthly_HH_Income)
print("geometric mean of Monthly hosehold income is", q)
print("geometric mean of Monthly hosehold expense is", p)

geometric mean of the first two cols using  inbuilt Python function is


geometric mean of Monthly hosehold income is 33590.37754021395
geometric mean of Monthly hosehold expense is 15391.89958222314

Compute *Mean Deviation from the Mean* of the first two cols using your own  function and verify using inbuilt Python function

In [707]:
print("Mean Deviation from the Mean of the first two cols using your own function is \n\n")

def my_mean(data):
  sum=0
  for i in range(0, len(data)):
    sum = sum + data[i]
  return sum / len(data)
def mean_deviation(data):
  n = len(data)
  mean = my_mean(data)
  deviations = [(x - mean) for x in data]
  mean_deviation = sum(deviations) / n
  return mean_deviation

df[['Mthly_HH_Income','Mthly_HH_Expense']].apply(mean_deviation)

Mean Deviation from the Mean of the first two cols using your own function is

Mthly_HH_Income     0.0
Mthly_HH_Expense    0.0
dtype: float64



> There is no inbuild function for Mean deviation as its always zero

Compute *Mean Absolute Deviation from the Mean* of the first two cols using your own function and verify using inbuilt Python function

In [708]:
print("Mean Absolute Deviation from the Mean of the first two cols using my own function is \n\n")

def my_mean(data):
  sum=0
  for i in range(0, len(data)):
    sum = sum + data[i]
  return sum / len(data)
def mean_deviation(data):
  n = len(data)
  mean = my_mean(data)
  deviations = [abs(x - mean) for x in data]
  mean_deviation = sum(deviations) / n
  return mean_deviation

df[['Mthly_HH_Income','Mthly_HH_Expense']].apply(mean_deviation)

Mean Absolute Deviation from the Mean of the first two cols using my own function is

Mthly_HH_Income     20288.96
Mthly_HH_Expense     9247.44
dtype: float64

In [709]:
print("Mean Absolute Deviation from the Mean of the first two cols using inbuild function is \n\n")

df[['Mthly_HH_Income','Mthly_HH_Expense']].mad()

Mean Absolute Deviation from the Mean of the first two cols using inbuild function is

Mthly_HH_Income     20288.96
Mthly_HH_Expense     9247.44
dtype: float64

Compute *Coefficient of Variation* of the first two cols using your own function and verify using inbuilt Python function

In [710]:
print("Coefficient of Variation of the first two cols using my own function is \n\n")

def my_mean(data):
  sum=0
  for i in range(0, len(data)):
    sum = sum + data[i]
  return sum / len(data)
def std(data):
  n = len(data)
  mean = my_mean(data)
  deviations = [(x - mean) ** 2 for x in data]
  var = sum(deviations) / n
  std_dev = math.sqrt(var)
  return std_dev
def coeff_var(data):
  coeff_var = std(data)/my_mean(data)
  return coeff_var

df[['Mthly_HH_Income','Mthly_HH_Expense']].apply(coeff_var)

Coefficient of Variation of the first two cols using my own function is

Mthly_HH_Income     0.621676
Mthly_HH_Expense    0.636024
dtype: float64

In [711]:
print("Coefficient of Variation of the first two cols using inbuild function is \n\n")

p = variation(df.Mthly_HH_Expense)
q = variation(df.Mthly_HH_Income)
print("Coefficient of variation of Monthly hosehold income is", q)
print("Coefficient of variation of Monthly hosehold expense is", p)

Coefficient of Variation of the first two cols using inbuild function is


Coefficient of variation of Monthly hosehold income is 0.6216760137420672
Coefficient of variation of Monthly hosehold expense is 0.636024233362227

Compute z score  for all numerical cols using your own function  and verify using inbuilt Python function

In [712]:
print("z score for all numerical cols using your own function\n\n")

def my_mean(data):
  sum=0
  for i in range(0, len(data)):
    sum = sum + data[i]
  return sum / len(data)
def std(data):
  n = len(data)
  mean = my_mean(data)
  deviations = [(x - mean) ** 2 for x in data]
  var = sum(deviations) / n
  std_dev = math.sqrt(var)
  return std_dev
def my_zscore(data):
  mean= my_mean(data)
  standdev =std(data)
  zscore = [(x - mean) /standdev for x in data]
  return zscore


df[['Mthly_HH_Income','Mthly_HH_Expense','No_of_Fly_Members','Emi_or_Rent_Amt','Annual_HH_Income','No_of_Earning_Members']].apply(my_zscore)

z score for all numerical cols using your own function

    Mthly_HH_Income  Mthly_HH_Expense  ...  Annual_HH_Income  No_of_Earning_Members
0         -1.415024         -0.903857  ...         -1.343624              -0.632815
1         -1.376317         -0.987408  ...         -1.294021              -0.632815
2         -1.221492         -1.196287  ...         -1.190272              -0.632815
3         -1.221492         -1.405165  ...         -1.239496              -0.632815
4         -1.124727         -0.569652  ...         -1.082358              -0.632815
5         -1.066667         -0.903857  ...         -0.925977              -0.632815
6         -1.027961         -0.235447  ...         -1.017988              -0.632815
7         -0.911842          0.098758  ...         -0.864636              -0.632815
8         -0.873136         -0.820306  ...         -0.855549              -0.632815
9         -0.834430         -0.820306  ...         -0.849490               0.742869
10        -0.834430         -0.068345  ...         -0.667740               0.742869
11        -0.757017          0.516514  ...         -0.663196              -0.632815
12        -0.702828         -1.154511  ...         -0.624726              -0.632815
13        -0.679605         -0.694979  ...         -0.546573               0.742869
14        -0.679605         -0.736755  ...         -0.773761               0.742869
15        -0.640898         -0.544587  ...         -0.769975              -0.632815
16        -0.640898          0.098758  ...         -0.722644              -0.632815
17        -0.640898         -0.736755  ...         -0.732110               2.118553
18        -0.486073         -1.020829  ...         -0.448125              -0.632815
19        -0.447367         -0.486101  ...         -0.330745              -0.632815
20        -0.428014          0.516514  ...         -0.437523              -0.632815
21        -0.369954         -0.318999  ...         -0.140664              -0.632815
22        -0.292542          0.015206  ...         -0.503408              -0.632815
23        -0.292542          0.516514  ...         -0.065692              -0.632815
24        -0.253836         -0.569652  ...         -0.075158              -0.632815
25        -0.253836          0.516514  ...         -0.128169               0.742869
26        -0.099011         -0.903857  ...          0.211098              -0.632815
27        -0.060304         -0.736755  ...         -0.243656              -0.632815
28         0.017108         -0.318999  ...         -0.003594              -0.632815
29         0.055814         -0.569652  ...          0.407616              -0.632815
30         0.133227          0.516514  ...          0.106592               2.118553
31         0.133227          1.769782  ...          0.055475               0.742869
32         0.133227         -0.736755  ...         -0.166033              -0.632815
33         0.133227          0.265860  ...          0.379218              -0.632815
34         0.171933          0.516514  ...          0.334916              -0.632815
35         0.210639         -0.318999  ...         -0.104693               3.494237
36         0.326758          0.098758  ...          0.252371              -0.632815
37         0.346111          0.098758  ...          0.289478               0.742869
38         0.520290          2.187538  ...          0.348926               0.742869
39         0.713821         -0.736755  ...          0.316741              -0.632815
40         0.713821          2.605295  ...          0.316741              -0.632815
41         0.907352          0.098758  ...          0.496598               0.742869
42         1.100884         -0.820306  ...          0.839273              -0.632815
43         1.487946          0.098758  ...          1.846473              -0.632815
44         1.681478          0.516514  ...          2.058515               0.742869
45         1.875009          2.438192  ...          1.248211               2.118553
46         2.184659          0.516514  ...          2.090321               0.742869
47         2.262071          0.934270  ...          2.883964               2.118553
48         2.262071          2.605295  ...          1.710160               0.742869
49         2.262071          1.769782  ...          2.618912              -0.632815

[50 rows x 6 columns]

In [713]:
print("z score for all numerical cols using your inbuild  function is \n\n")

df[['Mthly_HH_Income','Mthly_HH_Expense','No_of_Fly_Members','Emi_or_Rent_Amt','Annual_HH_Income','No_of_Earning_Members']].apply(zscore)

z score for all numerical cols using your inbuild  function is

    Mthly_HH_Income  Mthly_HH_Expense  ...  Annual_HH_Income  No_of_Earning_Members
0         -1.415024         -0.903857  ...         -1.343624              -0.632815
1         -1.376317         -0.987408  ...         -1.294021              -0.632815
2         -1.221492         -1.196287  ...         -1.190272              -0.632815
3         -1.221492         -1.405165  ...         -1.239496              -0.632815
4         -1.124727         -0.569652  ...         -1.082358              -0.632815
5         -1.066667         -0.903857  ...         -0.925977              -0.632815
6         -1.027961         -0.235447  ...         -1.017988              -0.632815
7         -0.911842          0.098758  ...         -0.864636              -0.632815
8         -0.873136         -0.820306  ...         -0.855549              -0.632815
9         -0.834430         -0.820306  ...         -0.849490               0.742869
10        -0.834430         -0.068345  ...         -0.667740               0.742869
11        -0.757017          0.516514  ...         -0.663196              -0.632815
12        -0.702828         -1.154511  ...         -0.624726              -0.632815
13        -0.679605         -0.694979  ...         -0.546573               0.742869
14        -0.679605         -0.736755  ...         -0.773761               0.742869
15        -0.640898         -0.544587  ...         -0.769975              -0.632815
16        -0.640898          0.098758  ...         -0.722644              -0.632815
17        -0.640898         -0.736755  ...         -0.732110               2.118553
18        -0.486073         -1.020829  ...         -0.448125              -0.632815
19        -0.447367         -0.486101  ...         -0.330745              -0.632815
20        -0.428014          0.516514  ...         -0.437523              -0.632815
21        -0.369954         -0.318999  ...         -0.140664              -0.632815
22        -0.292542          0.015206  ...         -0.503408              -0.632815
23        -0.292542          0.516514  ...         -0.065692              -0.632815
24        -0.253836         -0.569652  ...         -0.075158              -0.632815
25        -0.253836          0.516514  ...         -0.128169               0.742869
26        -0.099011         -0.903857  ...          0.211098              -0.632815
27        -0.060304         -0.736755  ...         -0.243656              -0.632815
28         0.017108         -0.318999  ...         -0.003594              -0.632815
29         0.055814         -0.569652  ...          0.407616              -0.632815
30         0.133227          0.516514  ...          0.106592               2.118553
31         0.133227          1.769782  ...          0.055475               0.742869
32         0.133227         -0.736755  ...         -0.166033              -0.632815
33         0.133227          0.265860  ...          0.379218              -0.632815
34         0.171933          0.516514  ...          0.334916              -0.632815
35         0.210639         -0.318999  ...         -0.104693               3.494237
36         0.326758          0.098758  ...          0.252371              -0.632815
37         0.346111          0.098758  ...          0.289478               0.742869
38         0.520290          2.187538  ...          0.348926               0.742869
39         0.713821         -0.736755  ...          0.316741              -0.632815
40         0.713821          2.605295  ...          0.316741              -0.632815
41         0.907352          0.098758  ...          0.496598               0.742869
42         1.100884         -0.820306  ...          0.839273              -0.632815
43         1.487946          0.098758  ...          1.846473              -0.632815
44         1.681478          0.516514  ...          2.058515               0.742869
45         1.875009          2.438192  ...          1.248211               2.118553
46         2.184659          0.516514  ...          2.090321               0.742869
47         2.262071          0.934270  ...          2.883964               2.118553
48         2.262071          2.605295  ...          1.710160               0.742869
49         2.262071          1.769782  ...          2.618912              -0.632815

[50 rows x 6 columns]

Compute mode using your own function for the first two columns and verify using inbuilt Python function

In [714]:
print("mode using your my own function for the first two columns is \n\n")

def my_mode(data):
  data = Counter(data) 
  n= len(data)
  get_mode = dict(data) 
  mode = [k for k, v in get_mode.items() if v == max(list(data.values()))] 
  if len(mode) == n: 
    get_mode = "No mode found"
  else: 
    get_mode = "Mode is / are: " + ', '.join(map(str, mode)) 
  return get_mode	



df[['Mthly_HH_Income','Mthly_HH_Expense']].apply(my_mode)

mode using your my own function for the first two columns is

Mthly_HH_Income     Mode is / are: 45000
Mthly_HH_Expense    Mode is / are: 25000
dtype: object

In [715]:
print("mode using your inbuild function for the first two columns is \n\n")

df[['Mthly_HH_Income','Mthly_HH_Expense']].mode()

mode using your inbuild function for the first two columns is

   Mthly_HH_Income  Mthly_HH_Expense
0            45000             25000

Comment if the data for the first two cols is bi-modal, multi-modal or single modal



> Both coloumn is **single modal** because it have only one most frequent occuring observation i.e. 45000 and 25000 respectively.